/** {*/
/*-webkit-user-select: none;*/
/*user-select: none;*/
/*cursor: default;*/
/*}*/

button, input {
    margin: 0;
    padding: 0;
    width: 196px;
}

#optionString {
    max-width: 196px;
    display: inline-block;
    overflow: hidden;
}

.center {
    display: block;
    margin: auto;
}

.author {
    color: #06c;
    font-size: 10px;
    vertical-align: top;
}

.new::after {
    content: "NEW!";
    margin-left: 8px;
    display: inline-block;
    color: red;
    font-weight: bold;
    font-style: italic;
}

.popup {
    position: relative;
    float: right;
    margin: 4px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.hide {
    display: none;
}

.deactivated-entry {
    color: gray !important;
}

.deactivated-entry .history {
    display: none;
}

.popup:after {
    position: absolute;
    right: 8px;
    bottom: 8px;
    border: 1px solid gray;
    padding: 4px;
    /*opacity: 0;*/
    background-color: whitesmoke;
    white-space: nowrap;
    font: 10px sans-serif;
    display: none;
}

.popup:hover:after {
    /*opacity: 1;*/
    /*transition: all 0s 0.8s;*/
    display: block;
}

.active-toggle {
    background-color: #06c;
}

.active-toggle:after {
    content: "Сменить активность";
}

.unnew {
    background-color: #9c3;
}

.unnew:after {
    content: "Снять отметки";
}

.delete-entry {
    background-color: #f36;
}

.delete-entry:after {
    content: "Удалить запись";
}

.history {
    margin-left: 32px;
    font-size: 10px;
    font-family: monospace;
}

.history a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.nyaa .history div,
.nyaa .history div:hover {
    transition: margin 0.08s;
}

.nyaa .history div {
    cursor: pointer;
    padding: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nyaa .history div:hover {
    margin-left: 8px;
    margin-right: -8px;
}

.nyaa .history div:hover::before {
    content: "\2192";
    margin-left: -10px;
    width: 10px;
    display: inline-block;
    color: blue;
}

.kage .history div:nth-child(1) a {
    cursor: pointer;
    color: blue;
}

.kage .history div:nth-child(1):hover a {
    color: #FF7033;
    text-decoration: underline;
}

.kage .history div:nth-child(n+2) a {
    cursor: default;
    color: gray;
}

.loaded {
    color: gray !important;
}

.hidden {
    display: none;
}

.my-pretty-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 100500;
}

.my-pretty-load .center {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

@-webkit-keyframes colorful {
    0% {
        background-color: #ad1c79;
    }
}

.my-pretty-load .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 44px;
    height: 44px;
}

.my-pretty-load .base {
    position: absolute;
    width: 100%;
    height: 100%;
}

.my-pretty-load .rotate-1 {
    transform: rotate(0deg);
}

.my-pretty-load .rotate-1 .tail,
.my-pretty-load .rotate-1 .head {
    -webkit-animation: colorful 1s 0s linear infinite;
}

.my-pretty-load .rotate-2 {
    transform: rotate(45deg);
}

.my-pretty-load .rotate-2 .tail,
.my-pretty-load .rotate-2 .head {
    -webkit-animation: colorful 1s 0.125s linear infinite;
}

.my-pretty-load .rotate-3 {
    transform: rotate(90deg);
}

.my-pretty-load .rotate-3 .tail,
.my-pretty-load .rotate-3 .head {
    -webkit-animation: colorful 1s 0.25s linear infinite;
}

.my-pretty-load .rotate-4 {
    transform: rotate(135deg);
}

.my-pretty-load .rotate-4 .tail,
.my-pretty-load .rotate-4 .head {
    -webkit-animation: colorful 1s 0.375s linear infinite;
}

.my-pretty-load .rotate-5 {
    transform: rotate(180deg);
}

.my-pretty-load .rotate-5 .tail,
.my-pretty-load .rotate-5 .head {
    -webkit-animation: colorful 1s 0.5s linear infinite;
}

.my-pretty-load .rotate-6 {
    transform: rotate(225deg);
}

.my-pretty-load .rotate-6 .tail,
.my-pretty-load .rotate-6 .head {
    -webkit-animation: colorful 1s 0.625s linear infinite;
}

.my-pretty-load .rotate-7 {
    transform: rotate(270deg);
}

.my-pretty-load .rotate-7 .tail,
.my-pretty-load .rotate-7 .head {
    -webkit-animation: colorful 1s 0.75s linear infinite;
}

.my-pretty-load .rotate-8 {
    transform: rotate(315deg);
}

.my-pretty-load .rotate-8 .tail,
.my-pretty-load .rotate-8 .head {
    -webkit-animation: colorful 1s 0.875s linear infinite;
}

.my-pretty-load .drop {
    width: 8px;
    height: 12px;
}

.my-pretty-load .tail {
    position: absolute;
    width: 100%;
    height: 100%;
    /*noinspection CssFloatPxLength*/
    -webkit-clip-path: polygon(4px 12px, 7.46410162px 6px, 0.53589838px 6px);
    background-color: #db9dc5;
}

.my-pretty-load .head {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 8px;
    background-color: #db9dc5;
}
