/** {*/
    /*-webkit-user-select: none;*/
    /*user-select: none;*/
    /*cursor: default;*/
/*}*/

body {
    overflow-x: hidden;
}

button, input {
    margin: 0;
    padding: 0;
    width: 196px;
}

.danger {
    display: none;
}

.delete-history {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: indigo;
}

.long-button {
    width: 396px;
    margin-right: 20px; /* fix thin window */
}

#optionString {
    max-width: 196px;
    display: inline-block;
    overflow: hidden;
}

.center {
    display: block;
    margin: auto;
}

.author {
    color: #06c;
    font-size: 10px;
    vertical-align: top;
}

.new::after {
    content: "NEW!";
    margin-left: 8px;
    display: inline-block;
    color: red;
    font-weight: bold;
    font-style: italic;
}

.popup {
    position: relative; /* don't touch */
    float: right;
    margin: 4px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.hide {
    display: none;
}

.deactivated-entry {
    color: gray !important;
}

.deactivated-entry .history {
    display: none;
}

.popup:after {
    position: absolute;
    right: 8px;
    bottom: 8px;
    border: 0 solid gray;
    padding: 0;
    height: 0;
    opacity: 0;
    background-color: whitesmoke;
    white-space: nowrap;
    font: 10px sans-serif;
}

.popup:hover:after {
    border-width: 1px;
    padding: 4px;
    height: auto; /* sic! */
    opacity: 1;
    transition: opacity 0s 0.8s, height 0s 0s, padding 0s 0s, border-width 0s 0s;
}

.active-toggle {
    background-color: #06c;
}

.active-toggle:after {
    content: "Сменить активность";
}

.unnew {
    background-color: #9c3;
}

.unnew:after {
    content: "Снять отметки";
}

.delete-entry {
    background-color: #f36;
}

.delete-entry:after {
    content: "Удалить запись";
}

.anime-name {
    font-weight: bold;
}

.history {
    margin-left: 32px;
    font-size: 10px;
    font-family: monospace;
}

.history a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.history a.more {
    color: #06c;
    cursor: pointer;
}

.history a.more:hover {
    color: #f63;
    text-decoration: underline;
}

.entry:hover {
    background-color: #EEF4FA;
}

/*.nyaa .history div,*/
/*.nyaa .history div:hover {*/
    /*transition: margin 0.08s;*/
/*}*/

.nyaa .history div {
    cursor: pointer;
    padding: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nyaa .history div:hover {
    margin-left: 8px;
    margin-right: -8px;
}

/*.nyaa .history div:hover::before {*/
    /*content: "\2192";*/
    /*margin-left: -10px;*/
    /*width: 10px;*/
    /*display: inline-block;*/
    /*color: blue;*/
/*}*/

.nyaa .history a:hover {
    color: #FF7033;
    text-decoration: underline;
}

.kage .history div:nth-child(1) a {
    cursor: pointer;
    color: blue;
}

.kage .history div:nth-child(1):hover a {
    color: #FF7033;
    text-decoration: underline;
}

.kage .history div:nth-child(n+2) a {
    cursor: default;
    color: gray;
}

.loaded {
    color: gray !important;
}

.hidden {
    display: none;
}

.my-pretty-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 100500;
}

.my-pretty-load .center-middle-screen {
    position: fixed !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.my-pretty-load .livechart {
    position: absolute;
    height: 11px;
    display: flex;
    align-items: center;
}

.my-pretty-load .load-segment {
    margin-left: 2px;
    border: 1px solid #e0eefd;
    width: 2px;
    height: 5px;
    background: #F4F9FD;
    -webkit-animation: load 0.88s linear infinite;
    animation: load 0.88s linear infinite;
}

.my-pretty-load .load-segment:first-child {
    margin-left: 0;
}

@-webkit-keyframes load {
    0% {
        height: 9px;
        border-color: #3B97FC;
        background-color: #5EA9FC;
    }
    37.5% {
        height: 5px;
        border-color: #E0EEFD;
        background-color: #F4F9FD;
    }
}

@keyframes load {
    0% {
        height: 9px;
        border-color: #3B97FC;
        background-color: #5EA9FC;
    }
    37.5% {
        height: 5px;
        border-color: #E0EEFD;
        background-color: #F4F9FD;
    }
}

.my-pretty-load .segment-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.my-pretty-load .segment-2 {
    -webkit-animation-delay: 0.11s;
    animation-delay: 0.11s;
}

.my-pretty-load .segment-3 {
    -webkit-animation-delay: 0.22s;
    animation-delay: 0.22s;
}
