body {
   margin: auto;
   width: 512px;
   overflow-y: scroll;
}

.row {
   background: lightgray;
   border-radius: 8px;
   margin: 8px;
   padding: 8px;
}

.title {
   float: left;
}

.time {
   float: right;
}

.clear {
   clear: both;
}
